# dependencies
node_modules/
/node_modules
/.pnp
.pnp.*
.yarn/*

# Next.js build cache & artifacts
.next/
/.next/
apps/web/.next/
out/
/out/
build/
/build

# testing
/coverage

# misc
.DS_Store
*.pem
*.log

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
